{% extends 'college/layout.html' %}
{% block title %}
Home
{% endblock title %}

{% block main %}

<style>
    
  .hero_section{
    min-height: 90vh;
    background: linear-gradient( rgba(11, 7, 7, 0.679),
    rgba(29, 20, 20, 0.527)),
    url("../../static/college/clg.jpg");
    background-position: center;
    background-size: cover;
    background-clip: border-box;
    background-origin: border-box; 
    background-attachment: fixed;
    padding: 3.5rem 1rem;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 800;
    color: aliceblue;
  }
</style>
  <div class="jumbotron hero_section">
      <h1 class="display-2 bold py-5">AKT College Manager</h1>
      <p class="display-6 lead bold">Safely record and track your classroom activities</p>
      <hr class="display-6 my-4 bold">
      <p>Have a query or need any help? Call the button below.</p>
      <p class="lead">
      <span class="btn btn-primary btn rounded">Call Now</span>
      </p>
  </div>
  
  <ul class="list-group py-5">
    <li class="list-group-item active" aria-current="true">Notice and Updates</li>
    <li class="list-group-item">Orientation for new students on 10 August! Help as organize an event as volunteers.</li>
    <li class="list-group-item">Join the free workshop on meditation next Saturday at 4pm conducted by one of our graduates.</li>
    <li class="list-group-item">To discontinue any units, please unenroll by 5 August.[2nd Semseter Students]</li>
    <li class="list-group-item">College Library to remain closed next Sunday.</li>
    <span class="text-info bg-dark">Previous Notices</span>
  </ul>
{% endblock main %}
