{% extends "college/layout.html" %}
{% block title %}Student Detail{% endblock %}
{% load operations %}
{% block main %}

  <h2>Student Detail</h2>
  <table class="table table-bordered border-dark">
        <tr>
          <th>Name</th>
          <td>{{ student.name }}</td>
        </tr>
        <tr>
          <th>UserName</th>
          <td>{{ student.username }}</td>
        </tr>
        <tr>
          <th>Email</th>
          <td>{{ student.email }}</td>
        </tr>
        <tr>
          <th>PRN</th>
          <td>{{ student.prn }}</td>
        </tr>
        <tr>
          <th>Attendance</th>
          <td>{{ student.lectures_attended|divide:student.total_lectures }}</td>
        </tr>
        <tr>
          <th>Branch</th>
          <td>{{ student.branch }}</td>
        </tr>
      </table>
      <div class="tags my-5">
        <div class="">
          <a href="{% url 'quiz:available' %}">Take Quizes</a>
        </div>
        <script>
          let anchors = document.querySelectorAll(".tags a")
          console.log(anchors)
          for (let i = 0; i < anchors.length; i++) {
              anchors[i].classList.add("px-2")
              anchors[i].classList.add("text-decoration-none")
              anchors[i].classList.add("text-decoration-none")
              anchors[i].classList.add("text-dark")
              anchors[i].classList.add("border")
              anchors[i].classList.add("rounded")
              anchors[i].classList.add("border-dark")
          }
      </script>
{% endblock %}
